* {
    font: "Roboto", sans-serif;
}

.header {
    font: "Roboto", sans-serif;
    font-weight: 900;
    color: #1887DC;
}

.section-1 h6 {
    color: #1887dc !important;
    font-size: large;
    font-weight: 700;
    margin-bottom: 20px;
}

.navbar-brand {
    color: #1887DC !important;
    font-weight: bold;
}

.nav-link{
    color: #1887dc !important;
    font-weight: 500;
}


.input-group {
    width: 250px;
    border: #F2BF1E;
    
}

.btn {
    background-color: #FFD245;
}

.btn:hover {
    background-color: #F2BF1E;
}

#sign-up {
    width: 150px;
    font-weight: 600;
}

#log-in {
    width: 150px;
    font-weight: 600;
}

#join {
    width: 70px;
    font-weight: 600;
}

#form-control{
    border-color: #F2BF1E;
}