* {
    padding: 0;
    margin: 0;
    padding: 0;
    color: #e8ecf0;
    background: #85a2a2 url('spiffform/res/noise.png') repeat right top;
}
.slide-manage {
    background-color: aqua;
}
#sidebar {
    color: #000;
}
.slide-avt {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#buttons {
    text-align: center;
}

#buttons label {
    display: block;
    font-size: 1.4em;
}

#buttons input {
    padding: .5em;
    margin-bottom: 12px;
}

#sidebar-elements {
    display: flex;
    flex-direction: column;
}

#sidebar-elements h3 {
    font-size: 1.3em;
    color: #e8ecf0;
    background-color: #448782;
    padding: .4em;
    margin: 0 5px;
}

.ui-elements {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    padding-bottom: 10px;
}

.ui-elements li {
    background-repeat: no-repeat;
    background-position: 0 .5em;
    padding: .5em 0 .5em 30px;
}









#ui-name {
    background-image: url('../res/entry.png');
}

#ui-entry {
    background-image: url('../res/entry.png');
}

#ui-text {
    background-image: url('../res/textview.png');
}

#ui-button {
    background-image: url('../res/button.png');
}

#ui-choise {
    background-image: url('../res/checkbutton.png');
}

#ui-calendar {
    background-image: url('../res/calendar.png');
}

#ui-combo {
    background-image: url('../res/combo.png');
}

#ui-radio {
    background-image: url('../res/radio.png');
}

#ui-separator {
    background-image: url('../res/separator.png');
}

#ui-infobox {
    background-image: url('../res/infobox.png');
}
