*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #54C7EF;
    display: flex;
    justify-content: center;
}

.navbar-brand{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    justify-content: center;
}

.main{
    display: flex;
    padding: 1rem;
}

.rectangle {
  border-style: solid;
  padding: 0 2rem 3rem 2rem;
  margin-top: 0.5rem;
}

h5{
    margin-top: 1rem;
}

.col-sm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 10rem;
    text-align: center;
    margin-right: 1rem;
    margin-left: 1rem;
    height: 100%;
}

.row{
    max-width: 10rem;
}

.item-element{
    font-weight: 500;
    justify-content: center;
}

.container{
    height: 85vh;
}

.rectangle .board{
    height: 73.5vh;
}