* {
 padding: 0;
 margin: 0;
}
.slide-manage {
 background-color: #54C7EF;
}
#sidebar {
 color: #000;
}
.navbar-brand {
 color: #1887DC !important;
 font-weight: bold;
}
.nav-link{
 color: #1887dc !important;
 font-weight: 500;
}
.slide-avt {
 padding-top: 30px;
 padding-bottom: 30px;
 margin-top: 10px;
 margin-left: 10px;
 display: flex;
 justify-content: center;
 text-align: center;
}

#buttons {
 text-align: center;
}

#buttons label {
 display: block;
 font-size: 1.4em;
}

#buttons input {
 padding: .5em;
 margin-bottom: 12px;
}

#sidebar-elements {
 display: flex;
 flex-direction: column;
}

#sidebar-elements h3 {
 font-size: 1.3em;
 color: #e8ecf0;
 background-color: #448782;
 padding: .4em;
 margin: 0 5px;
}
.wrapper {
 margin-top: 4rem;
}
.ui-elements {
 list-style-type: none;
 margin: 0;
 padding-left: 10px;
 padding-bottom: 10px;
}

.ui-elements li {
 background-repeat: no-repeat;
 background-position: 0 .5em;
 padding: .5em 0 .5em 30px;
}

#ui-name {
 background-image: url('../img/entry.png');
}

#ui-entry {
 background-image: url('../img/entry.png');
}

#ui-text {
 background-image: url('../img/textview.png');
}

#ui-button {
 background-image: url('../img/button.png');
}

#ui-choise {
 background-image: url('../img/checkbutton.png');
}

#ui-calendar {
 background-image: url('../img/calendar.png');
}

#ui-combo {
 background-image: url('../img/combo.png');
}

#ui-radio {
 background-image: url('../img/radio.png');
}

#ui-separator {
 background-image: url('../img/separator.png');
}

#ui-infobox {
 background-image: url('../img/infobox.png');
}