<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Pricing</title>
 <style>
  body {
   font-family: 'Roboto', sans-serif;
   height: 100vh;
   text-align: center;
  }
 </style>
</head>

<body>
 <div>
  <h1>Tính năng này đang được đội ngũ SUTI phát triển!</h1>
 </div>
</body>

</html>